# Visual Studio
.vs/
*.suo
*.user
*.aps
*.app
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.sdf
*.opensdf
*.cachefile
*.log
*.bin
*.suo
*.user
*.ilk
*.meta
*.obj
*.pdb
*.tlog
*.dll
*.exe
*.resx
*.idb
[Tt]humbs.db
[Tt]est[Rr]esult*
[Bb]in
[Dd]ebug*/
[Rr]elease*/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Ll]og/
[Ll]ogs/
[Ll]og*/
[Ll]og*/
[Ll]ogs*/
[Dd]ocs/
[Dd]oc/
[Ss]tyleCop.*
~$*
_*.*
\#*#
[Tt]est[Rr]esult*/
*.VisualState.xml
*.dbmdl
*.dbproj.schemaview
*.jfm
*.suo
*.user
*.suo
*.user
*.NCB
*.sdf
*.pyc
*.pyo
*.suo
*.user
*.userosscache
*.suo
*.user
*.suo
*.user
*.obj
*.dll
*.exe
*.pdb
*.idb
*.manifest
*.res
*.resx
*.il*
*.aps
*.pch
*.meta
*.aia
*.dbmdl
*.ipch
*.iobj
*.log
*.lnt
*.idb
*.ipdb
*.pch
*.sbr
*.suo
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.bsc
*.scc
*.gid
*.ilk
*.bin
*.exe
*.dll
*.pdb
*.suo
*.idb
*.manifest
*.log
*.tlog
*.tlog/
*.log/
*.ndb
*.aps
*.idb
*.iobj
*.pch
*.ipdb
*.log
*.dep
*.pdb
*.ilk
*.projdata
*.sdf
*.opensdf
*.suo
*.user
*.ncb
*.aps
*.bak
*.tmp
*.suo
*.vcxproj.user
*.vcxproj.*
*.filters.user
*.h
*.hpp
*.cpp
*.cxx
*.cc
*.c
*.fortran
*.f
*.for
*.fpp
*.tcl
*.manifest
*.res
*.cur
*.ico
*.bmp
*.png
*.gif
*.jpg
*.jpeg
*.htm
*.html
*.xml
*.xaml
*.pdf
*.log
*.ini
*.dat
*.settings
*.suo
*.user
*.userosscache
*.suo
*.user
*.tmp
*.bak
*.cache
*.local
*.suo
*.user
*.dll
*.pdb
*.ipch
*.suo
*.user
*.userosscache
*.suo
*.user
*.dll
*.log
*.pch
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli